@use "../../utils.scss";
.item {
    @include utils.flex-center();
    justify-content: space-between;
    padding: 20px 12px;
    margin: 15px 0;
    font-size: 20px;
    opacity: 0.9;
    height: 32px;
    line-height: 32px;
    background: linear-gradient(90deg, utils.$primary-color 0%, transparent 100%);
    border-radius: 5px;
    transition: utils.$transition;
    &:hover {
        opacity: 0.9;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        transform: translateY(-10%);
    }
    button {
        padding: 8px;
        @include utils.btn();
        font-size: 20px;
        &:hover {
            transform: translateY(-7%);
            scale: 1.2;
            transition: utils.$transition;
        }
    }
    p {
        margin-left: 3%;
        flex: 1;
    }
    .done-item {
        font-size: 18px;
        text-decoration: line-through #333;
        color: #555;
    }
}